Repository kiraware/PinterIn, pull requests merged in 2025-06, with the labels that each got.

#11 Add workflow in GitHub actions and dependabot
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/dev.yml
  .github/workflows/test.yml
  .prettierrc
  composer.lock
  package-lock.json
  package.json
  resources/js/app.js
  resources/js/bootstrap.js
  resources/views/auth/confirm-password.blade.php
  resources/views/auth/forgot-password.blade.php
  resources/views/auth/login.blade.php
  resources/views/auth/register.blade.php
  resources/views/auth/reset-password.blade.php
  resources/views/auth/verify-email.blade.php
  resources/views/components/application-logo.blade.php
  resources/views/components/danger-button.blade.php
  resources/views/components/dropdown-link.blade.php
  resources/views/components/dropdown.blade.php
  resources/views/components/modal.blade.php
  resources/views/components/nav-link.blade.php
  resources/views/components/primary-button.blade.php
  resources/views/components/responsive-nav-link.blade.php
  resources/views/components/secondary-button.blade.php
  resources/views/components/text-input.blade.php
  resources/views/courses/create.blade.php
  resources/views/courses/edit.blade.php
  resources/views/courses/index.blade.php
  resources/views/courses/show.blade.php
  resources/views/layouts/app.blade.php
  resources/views/layouts/guest.blade.php
  resources/views/layouts/navigation.blade.php
  resources/views/lessons/_form.blade.php
  resources/views/lessons/show.blade.php
  resources/views/profile/partials/delete-user-form.blade.php
  resources/views/profile/partials/update-password-form.blade.php
  resources/views/profile/partials/update-profile-information-form.blade.php
  resources/views/welcome.blade.php
  tailwind.config.js
  vite.config.js
Labels: enhancement

#14 Minor Fix Fields
  resources/views/auth/forgot-password.blade.php
  resources/views/auth/login.blade.php
  resources/views/auth/register.blade.php
  resources/views/auth/reset-password.blade.php
Labels: bug

#15 fix some field in courses and lessons
  resources/views/courses/create.blade.php
  resources/views/courses/edit.blade.php
  resources/views/lessons/_form.blade.php
  resources/views/lessons/create.blade.php
  resources/views/lessons/edit.blade.php
Labels: bug, enhancement, php, javascript

#17 fix homepage and public footer
  app/Http/Controllers/HomeController.php
  public/images/hero-illustration.png
  resources/views/courses/public.blade.php
  resources/views/welcome.blade.php
  routes/web.php
Labels: enhancement, php, javascript

#18 Fixing Navbar and Footer
  resources/views/components/footer.blade.php
  resources/views/layouts/app.blade.php
  resources/views/layouts/navigation.blade.php
  resources/views/welcome.blade.php
Labels: documentation

#19 Adding About and Minor UI Fix
  resources/css/app.css
  resources/views/about.blade.php
  resources/views/components/footer.blade.php
  resources/views/components/nav-link.blade.php
  resources/views/layouts/app.blade.php
  resources/views/layouts/navigation.blade.php
  routes/web.php
Labels: documentation

#21 UI Consistency Improvements: Color and Button Updates
  resources/views/courses/index.blade.php
  resources/views/courses/public.blade.php
  resources/views/welcome.blade.php
Labels: enhancement, php, javascript

#22 add "prettier-plugin-tailwindcss"
  .prettierrc
  package-lock.json
  package.json
Labels: dependencies

#24 Payment
  app/Http/Controllers/BankController.php
  app/Http/Controllers/CourseController.php
  app/Http/Controllers/PaymentController.php
  app/Models/Bank.php
  app/Models/Payment.php
  app/Models/User.php
  database/migrations/2025_05_21_044022_create_banks_table.php
  database/migrations/2025_05_21_045022_create_payments_table.php
  resources/views/banks/create.blade.php
  resources/views/banks/edit.blade.php
  resources/views/banks/index.blade.php
  resources/views/courses/public.blade.php
  resources/views/layouts/navigation.blade.php
  resources/views/payments/create.blade.php
  resources/views/payments/index.blade.php
  routes/web.php
Labels: enhancement, php, javascript

#25 fix routes order
  routes/web.php
Labels: bug, php
